@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-inline: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

header {
    min-height: 81px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li a {
    display: block;
    text-decoration: none;
    color: black;
    margin-left: 20px;
    padding: 15px;
    transition: 0.3s;
}

header nav ul li a:hover {
    color: hsl(35, 77%, 62%);
}

@media (min-width:769px) {

    header nav .ham-menu,
    header nav .close-menu {
        display: none;
    }
}

@media (max-width:769px) {
    header nav ul {
        position: fixed;
        background-color: white;
        flex-direction: column;
        top: 0;
        height: 100vh;
        width: 80vw;
        right: -80vw;
        transition: 0.3s;
        padding-left: 10px;
        z-index: 2;
    }

    header nav .overlay {
        width: 100%;
        background-color: rgba(0, 0, 0, 0);
        position: fixed;
        height: 100vh;
        top: 0;
        right: -100%;
        transition: background-color 0.3s;
        z-index: 0;
    }

    header nav .ham-menu {
        z-index: 1;
    }

    header nav .ham-menu:hover~ul {
        right: 0;
    }

    header nav .ham-menu:hover~.overlay {
        background-color: rgba(0, 0, 0, 0.3);
        right: 0;
    }

    header nav ul li a {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    header nav .close-menu {
        width: 40px;
        margin: 18px 15px 180px;
        align-self: flex-end;
    }
}

.content .container {
    min-height: calc(100vh - 81px);
    display: grid;
    grid-template-rows: 2fr 1fr;
    gap: 20px;
}

.content .container .top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 25px;
}


@media (max-width:768px) {
    .content .container {
        grid-template-rows: auto;
    }

    .content .container .top {
        grid-template-columns: 1fr;
    }
}

.content .top .main-article {
    display: flex;
    flex-direction: column;
}

.content .main-article .image {
    background-image: url(assets/images/image-web-3-desktop.jpg);
    background-size: cover;
    background-position: center;
    height: calc(100% / 1.5);
}

.content .main-article .article-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    gap: 30px;
}

.content .main-article .article-content .title h2 {
    font-weight: 800;
    font-size: 50px;
    margin-right: 50px;
}

.content .main-article .article-content .text p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.8;
    color: hsl(236, 13%, 42%);
    margin-right: 10px;
}

.content .main-article .article-content .text button {
    border: none;
    background-color: hsl(5, 85%, 63%);
    color: white;
    padding: 20px;
    letter-spacing: 2px;
    font-size: 14px;
    width: 180px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.content .main-article .article-content .text button:hover {
    background-color: hsl(240, 100%, 5%);
}

@media (max-width:768px) {
    .content .main-article .image {
        background-image: url(assets/images/image-web-3-mobile.jpg);
    }

    .content .top .main-article {
        min-height: calc(100vh - 81px);
    }

    .content .main-article .article-content {
        grid-template-columns: 1fr;
    }

    .content .main-article .article-content .title h2 {
        margin-right: 0;
    }
}

.content .new-articles {
    padding: 20px;
    background-color: hsl(240, 100%, 5%);
}

.content .new-articles h2.title {
    color: hsl(35, 77%, 62%);
    margin: 0 0 20px 0;
    font-size: 45px;
    letter-spacing: 2px;
    font-weight: 700;
}

.content .new-articles .article {
    margin-top: 20px;
    color: white;
    font-size: 15px;
}

.content .new-articles .article h2 {
    transition: 0.3s;
    cursor: pointer;
}

.content .new-articles .article h2:hover {
    color: hsl(35, 77%, 62%);
}

.content .new-articles .article:not(:last-child) {
    border-bottom: 1px solid hsl(236, 13%, 42%);
}

.content .new-articles .article .content {
    color: hsl(236, 13%, 42%);
    margin: 20px 0;
    line-height: 1.8;
}

.content .bottom-articles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-content: space-around;
    gap: 20px;
    padding: 20px 0;
}

.content .bottom-articles .article {
    display: flex;
    align-items: center;
}

.content .bottom-articles .article img {
    width: 100px;
    margin-right: 10px;
}

.content .bottom-articles .article .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.content .bottom-articles .article .number {
    color: hsl(233, 8%, 79%);
    font-weight: 700;
    font-size: 30px;
}

.content .bottom-articles .article .title {
    color: hsl(240, 100%, 5%);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s;
}

.content .bottom-articles .article .title:hover {
    color: hsl(5, 85%, 63%);
}

.content .bottom-articles .article p {
    color: hsl(236, 13%, 42%);
    line-height: 1.8;
    font-size: 15px;
}